/* color palette */
:root {
  --dark-purple: #433D54;
  --light-purple: #CFC8E2;
  --fuccsia: #FF2C81;
  --pastel-pink: #FFB0CF;
  --off-white: #F8F7F7;
  --emerald-green: #86DBA3;
  --crimson: #E35C77;
  --gold: #FFC107;
  --platinum: #899499;
  --fuccsia05: #FF2C805A;
  --violet: #5D308F;
  --blue: #1466AF;
  --blue-green: #19A9AF;
  --green: #11A85A;
  --yellow-green: #6EBF46;
  --yellow: rgb(239, 212, 40);
  --yellow-orange: #FCA217;
  --orange: #FC7F17;
  --red-orange: #F7393E;
  --red: #E71F2A;
  --red-violet: #A6228F;
  --clay: #8D453D;
  --white05: #ffffff9d;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--off-white);
  --color-primary: var(--dark-purple);
  --color-secondary: var(--light-purple);
  --color-tertiary: var(--fuccsia);
  --color-tertiary05: var(--fuccsia05);
  --color-quaternary: var(--pastel-pink);
  --color-negative: var(--crimson);
  --color-positive: var(--emerald-green);
  --color-warning: var(--gold);
  --color-grey: var(--platinum);
  --color-violet: var(--violet);
  --color-blue: var(--blue);
  --color-blue-green: var(--blue-green);
  --color-green: var(--green);
  --color-yellow-green: var(--yellow-green);
  --color-yellow: var(--yellow);
  --color-yellow-orange: var(--yellow-orange);
  --color-orange: var(--orange);
  --color-red-orange: var(--red-orange);
  --color-red: var(--red);
  --color-red-violet: var(--red-violet);
  --color-clay: var(--clay);
  --color-white05: var(--white05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--off-white);
  }
}


